@import url('https://fonts.google.com/specimen/Kumbh+Sans');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body {
    font-family:'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: 
            url(/images/bg-pattern-top.svg),
            url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 45vw bottom 50vh, left 37vw top 40vh;
   
}
.main {
    margin: 0 auto;
    text-align: center;
    min-width: 350px;
    border-radius: 20px;
    overflow: hidden;
}
.card {
    background-color: white;
}
#profile {
    /*Image style by id selector*/
    border-radius: 50%;
    border:5px solid white;
    margin-top: -55px;
    margin-bottom: 20px;
}
h2 {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    margin-bottom: 10px;
}
span {
    font-weight: 400;
    color: hsl(227, 10%, 46%); 
    font-size: 18px; 
}
.lightFont {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    font-size: 14px;
}
.stats {
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    border: 1px solid hsl(0, 0%, 59%);
    margin-top:20px;
    padding: 20px 50px;
}
.name {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    font-size: 12px;
    margin-top: 0px;}


.number {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    font-size: 18px;
}

